<%- include("partials/header") %>

<div class="container bg-white py-5 card">
<div class="container p-5 bg-white card card-hover" id="formNew">
  <form action="/index/<%= postage._id %>?_method=PUT" method="POST">
    <h2>Editar Postagem</h2>
    <div class="form-group">
      <label for="">Título</label>
      <input type="text" name="postage[title]" class="form-control" value="<%= postage.title %>" id="" placeholder="<%= postage.title %>">
    </div>
    <div class="form-group">
      <label for="">Imagem</label>
      <input type="text" name="postage[image]" class="form-control" value="<%= postage.image %>" id="" placeholder="<%= postage.image %>">
    </div>
    <div class="form-group">
      <label for="">Categoria</label>
      <input type="text" name="postage[category]" class="form-control" value="<%= postage.category %>" id="" placeholder="<%= postage.category %>">
    </div>
    <div class="form-group">
      <label for="">Conteúdo da Postagem</label>
      <textarea name="postage[body]" class="form-control" id="" rows="6"><%= postage.body %></textarea>
    </div>
    <input class="btn btn-outline-warning mb-3" type="submit" name="" id="">
  </form>
  <form id="delete" action="/index/<%= postage._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-danger">Excluir Postagem</button>
  </form>
</div>
</div>
<%- include("partials/footer") %>