<%- include("partials/header") %>
<!-- Galeria -->
<div class="container bg-light p-5 card" id="gallery">
    <h1 class="card-title">Receitas Fitness e Lifestyle!!!</h1>
    <div class="card-deck">
        <% postages.forEach((postage) => { %>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card card-hover" style="height: 43rem">
                <img class="card-img-top" src="<%= postage.image %>" alt="image">
                <div class="card-body">
                    <h3 class="card-title"><%= postage.title %></h3>
                    <p class="card-text pcard"><%- postage.body.substring(0, 400) %></p>
                </div>
                <a href="/index/<%= postage._id %>" class="d-flex flex-row-reverse pr-4 text-secondary">
                    <h5 class="read">Continue lendo <i class="fas fa-angle-double-right"></i></h5>
                </a>
                <div class="d-flex justify-content-between p-3">
                    <a href="" class="btn btn-outline-primary btn-md border-0"><i
                            class="iconP fas fa-share-alt-square fa-2x"></i></a>
                    <a href="" class="btn btn-outline-danger btn-md border-0"><i
                            class="iconP far fa-heart fa-2x"></i></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer") %>