<%- include("partials/header") %>


<% function titleIndex(title) { %>
<%    let string = postages.title %>
<%    if(title == "Receitas Fitness e Lifestyle!!!") return string; %> 
<%    if(title == "receitas") string = "Receitas"; %> 
<%    if(title == "viagens") string = "Viagens"; %> 
<%    if(title == "corpo_e_mente") string = "Corpo e Mente"; %> 
<%    if(title == "acoes_sociais") string = "Ações Sociais"; %> 
<%    return string; %>

<% } %>

<% var title = titleIndex(postages.title) %>

<!-- Galeria -->
<div class="container bg-white p-5 card" id="gallery">
    <h1 class="card-title"><%= title %></h1>
    <div class="card-deck">
        <% postages.postages.forEach((postage) => { %>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card card-hover" style="height: 43rem">
                <img class="card-img-top" src="<%= postage.image %>" alt="image">
                <div class="card-body">
                    <h3 class="card-title"><%= postage.title %></h3>
                    <p class="card-text pcard"><%- postage.body.substring(0, 400) %></p>
                </div>
                <a href="/index/<%= postage.category %>/<%= postage._id %>" class="d-flex flex-row-reverse pr-4 text-secondary">
                    <h5 class="read">Continue lendo <i class="fas fa-angle-double-right"></i></h5>
                </a>
                <div class="d-flex justify-content-between p-3">
                    <a href="https://www.instagram.com/vidalevebyaline" target="_blank" class="btn btn-outline-primary btn-md border-0"><i
                            class="iconP fas fa-share-alt-square fa-2x"></i></a>
                    <a href="https://www.instagram.com/vidalevebyaline" target="_blank" class="btn btn-outline-danger btn-md border-0"><i
                            class="iconP far fa-heart fa-2x"></i></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer") %>