<%- include("partials/header") %> 
<div class="container bg-light" id="show">
    <div class="justify-content-center">
        <h1 class="card-title text-center py-3"><%= postage.title %></h1>
            <div class="col-lg-8 mx-auto pb-5">
                <div class="" >
                    <img class="card-img-top" src="<%= postage.image %>" alt="image">
                    <div class="card-body">
                        <h3 class="card-title"><%= postage.title %></h3>
                        <p class="card-text"><%= postage.body %></p>
                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <a href="" class="btn btn-outline-primary btn-md border-0"><i
                                class="iconP fas fa-share-alt-square fa-2x"></i></a>
                        <a href="" class="btn btn-outline-danger btn-md border-0"><i
                                class="iconP far fa-heart fa-2x"></i></a>
                    </div>
                </div>
            </div>
    </div>
</div>




<%- include("partials/footer") %> 
